// Globals
$margin: 20px;
$padding: 0 165px;

// Transitions
$transitionSpeed: 350ms;
// Breakpoints
$breakpoint: 768px;

// Colors
$white: #fff;
$black: #000;
$bg-color: #f9f9f9;
$yellow: #ffdf5b;
$animal: #ff5b5b;
$career: #ff915b;
$celebrity: #ffbe5b;
$dev: #ffdf5b;
$explicit: #8fe360;
$fashion: #57e690;
$food: #57dbe6;
$shadow: rgba(0, 0, 0, 0.15);

$golden: #d1bb91;
$golden2: #cfb995;
$item-border: #ecebe9;
$grey: #d5d5d5;
$grey1: #d5d5d5;
$grey2: #a0a0a0;
$light-grey: #303030;
